$tablet: 850px;
$smartphone: 500px;
$primaryColor: #00ffa9;
$redColor: #ff0000;
$secondaryColor: #ffffff;
$shadow: 0px 0px 5px 0px $primaryColor;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
h1 {
  font-size: 2em;
}
