$tablet: 850px;
$smartphone: 500px;
$primaryColor: #00ffa9;
$redColor: #ff0000;
$blackColor: #141011;
$secondaryColor: #ffffff;
$shadow: 0px 0px 5px 0px $primaryColor;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.sign-up {
  //   max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  background: $secondaryColor;
  margin-top: 2em;
  .home-icon {
    margin-bottom: 20px;
  }
  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $blackColor;
  }
  .form-input-group {
    position: relative;
    .icon-conatainer {
      position: absolute;
      bottom: 0;
      left: 0.1em;
      z-index: 9;
      padding: 0.2em;
      background-color: $primaryColor;
      width: 3.3em;
      height: 3.3em;
      display: flex;
      border-bottom-left-radius: 2em;
      border-top-left-radius: 2em;
      .email-icon,
      .padlock-icon {
        margin: auto;
        width: 2em;
        height: 2em;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;

    img {
      width: 1.1em;
      height: 1.1em;
    }

    button {
      margin-bottom: 10px;
    }
    @include tablet() {
      flex-direction: column;
      align-items: center;
    }
  }
  .login-google {
    display: flex;
    justify-content: center;
    // align-items: center;
    .login-with {
      font-size: 1.4em;
      // line-height: 14px;
      margin: 20px 0;
      margin-right: 1em;
      color: #c4c4c4;
    }
  }
  .or-sign-in-with {
    font-size: 12px;
    line-height: 14px;
    margin: 20px 0;
    color: #c4c4c4;
  }
  .no-account {
    font-size: 1.3em;
    text-align: center;
    a {
      font-size: 1em;
      color: $blackColor;
    }
  }

  .error {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: lighten($color: $primaryColor, $amount: 20);
    color: $primaryColor;
    padding: 3px 10px;
    // border-radius: 10px;
    font-weight: 600;
    z-index: 99;
  }

  img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
}
