$tablet: 850px;
$smartphone: 500px;
$primaryColor: #00ffa9;
$redColor: #ff0000;
$blackColor: #141011;
$secondaryColor: #ffffff;
$shadow: 0px 0px 5px 0px $primaryColor;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 2em;
}
.footer-links {
  width: 90%;
  margin: auto;
  border-radius: 2em;
  border: 1px solid $primaryColor;
  background-color: $secondaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
  a {
    img {
      height: 1.3em;
    }
  }
  .new {
    border: 1px solid $primaryColor;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-prof {
    height: 2em;
    width: 2em;
    border: 1px solid $primaryColor;
    border-radius: 50%;
  }
}
